@model Tarea_5.Models.EstudiantesModel

@{
    ViewData["Title"] = "Datos";
}

<h1>Datos:</h1>
<h3>@Model.Matricula</h3>
<h3>@Model.Nombres</h3>
<h3>@Model.Apellidos</h3>
<h3>@Model.FechaDeNacimiento</h3>
<h3>@Model.Carrera</h3>
<h3>@Model.Direccion</h3>
<h3>@Model.Telefono</h3>
<h3>@Model.Correo</h3>

